/*table {
width : 100%;
}
tr {
background : #fff;
}
th, tr, td {
text-align : left;
}


th {
color: #000; 
font-size: 14px;
padding: 10px 8px;
background: #fff;
border-right: none;
border-bottom: none;
border-top: none;
border-left: none;
text-align: left;
}

td {
color: #777;
font-size: 14px;
padding: 0px;   
text-align: left;
}*/

th {
    color: #000;
    background: #fff;
    border: none;
}

.btn-default {
margin-left : 0px;
    background: #2E9999;
    
}
.nav li, .btn-default {
font-size : 14px;
}
.btn-default:hover {
    background: #1B5959;
}


