﻿<div class="row header brand brand-primary" style="background-color:#4CB648;color:#FFF">
    <section class="container padding-top-md">
        <div class="row padding-bottom-md">
            <div class="col-sm-6 header-brand">
                <div class="brand-image">
                    <div id="imgContainerProfile"></div>
                </div>
                <div class="brand-name">
                    <h3 class="strong">Meeting Track Manager</h3>
                </div>
            </div>
            <div class="col-sm-6 text-right header-settings">
                
            </div>
        </div>

        <div class="row margin-top-md">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li ui-sref-active="active strong" role="presentation"><a ui-sref="app.home" role="tab"><i class="fa fa-home"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
</div>

<div class="row height-xl content">
    <section class="container tab-content">
        <div ui-view></div>
    </section>
</div>
