﻿<div role="tabpanel" class="tab-pane fade in active" id="home">
    <div class="row padding-top-md padding-bottom-md">
        <div class="col-sm-12">
            <ul class="list-inline full-width text-right" data-ng-show="false">
                <li class=""><input class="form-control" placeholder="Search" /></li>
                <li class=""><a href="#" class="btn btn-default"><i class="fa fa-calendar"></i> &nbsp; 23 March 2015 - 18 November 2015</a></li>
            </ul>
        </div>
    </div>


    <div class="tb-home">
        <div block-ui="homeBlockUi">
            <div class="tb-home-portfolio">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="">Meeting Talks</h3>
                        <div class="divider"></div>

                        <a data-ng-click="vm.allocateTalks()" class="strong btn btn-primary btn-sm">Allocate Talks</a>
                        <a data-ng-click="vm.resetTalks()" class="strong btn btn-danger btn-sm">Reset Talks</a>

                        <div block-ui="talksBlockUi">
                            <div class="panel panel-default panel-body">
                                <table class="table table-striped">
                                    <thead class="bg-grey-light">
                                        <tr>
                                            <th>Description</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="talk in vm.talks">
                                            <td>{{talk.title}}</td>
                                            <td>
                                                <span data-ng-show="talk.sessionId!==null" class="label label-success">Allocated</span>
                                                <span data-ng-show="talk.sessionId===null" class="label label-danger">Pending Allocation</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="">Meeting Tracks</h3>
                        <div class="divider"></div>

                        <div block-ui="tracksBlockUi">
                            <div class="panel panel-default panel-body" ng-repeat="track in vm.tracks">
                                <table class="table table-striped">
                                    <thead class="bg-grey-light">
                                        <tr>
                                            <th>{{track.name}}</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="item in track.items">
                                            <td>{{item.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-6">
                        <div class="panel panel-default margin-0">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>Portfolio perfomance</h2>
                                        <small>in the last 12 months</small>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <div class="btn-group">
                                            <button data-ng-show="false" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Weekly <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#">Weekly</a></li>
                                                <li><a href="#">Monthly</a></li>
                                                <li><a href="#">Yearly</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <h4 id="portfolioLegend" class="pull-right"></h4>
                                        <canvas id="chart-cashflowgraph"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>

</div>

